* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

.container {
    background: #0b132b;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

.container p {
    color: white;
}

.container .navbar {
    display: flex;
}

.container .navbar .link {
    margin: 0 25px;
    cursor: pointer;
}

.body {
    background: #bdfff5;
}

.body .section1 {
    display: flex;
    padding: 40px;
}

.content .title {
    text-align: center;
    font-size: 30px;
}

.content .text {
    font-size: 18px;
    margin-top: 30px;
    line-height: 1.3;
}

.body .ads {
    background: #5bc0be;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 300px;
    height: 350px;
    margin-left: 30px;
    position: relative;
}

.ads .cross {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.ads .title {
    font-size: 25px;
}

.ads .text {
    font-size: 19px;
}

.section2 {
    padding: 20px 0 40px;
}

.section2 .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section2 .title {
    font-size: 26px;
    text-align: center;
}

.cards .card {
    padding: 40px;
    margin: 20px;
    background: #3a506b;
    display: flex;
}

.card.active {
    background: blue !important;
}

.cards .card p {
    color: white;
    font-size: 20px;
    margin: 0 0 10px 20px;
}

.cards .card:hover {
    background: #3A608F;
}

.cards .card img {
    border-radius: 50%;
}

.section2 .active_spec {
    margin: 30px;
    text-align: center;
    font-size: 23px;
}